<div class="container">
    <div class="keyHistory" #keyHistory>
        @for (keyInfo of keysHirtory; track $index) {
            <key-note 
                [name]="keyInfo.name" 
                [currentType]="keyInfo.type"
                [posX]="keyInfo.x"
                [posY]="keyInfo.y"
            />
        }
    </div>
    <div class="pianoContainer">
        <div class="pianoHead">
            <div class="buttonPower">
                <buttonComp (wasPressed)="changePower();" boostrapIcon="bi bi-power"/>
                @if (power) {
                    <i class="bi bi-circle-fill" [style.color]="'green'"></i>
                } @else {
                    <i class="bi bi-circle-fill" [style.color]="'red'"></i>
                }
            </div>
            <div class="buttonsOctaves">
                @for (octave of getNamesOctaves(); track $index) {
                    <item-selection [value]="octave" (wasPressed)="setOctaves($event)"/>
                }
            </div>
        </div>
        <div class="pianoBody">
            <div class="keys">
                <div class="whiteKeys">
                    @for (keyName of octaves[currentOctaveSelected?.value ?? getNamesOctaves()[0]]['whites']; track $index) {
                        <piano-key 
                            [name]="keyName + '.mp3'" 
                            [canBePressed]="power" 
                            (wasPressed)="addKeyToTheHistory($event, whitekKeyType)"
                            [currentClasses]="{'white':true}"
                        />
                    }
                </div>
                <div class="blackKeys">
                    @for (keyName of octaves[currentOctaveSelected?.value ?? getNamesOctaves()[0]]['blacks']; track $index) {
                        <piano-key 
                            [name]="keyName + '.mp3'" 
                            [canBePressed]="power" 
                            (wasPressed)="addKeyToTheHistory($event, blackKeyType)" 
                            [currentClasses]="{'black':true}"
                            [style.margin-left]="blackKeysSpaces[currentOctaveSelected?.value ?? getNamesOctaves()[0]][$index]"
                        />
                    }
                </div>
            </div>
        </div>
    </div>
</div>
